.header {
    display: flex;
    margin: auto;
    width: 100%;
    height: 5rem;
    background: deepskyblue;
    color: white;
    justify-content: space-between;
    /* align-items: 'center'; */
}   
